
useDynLib(CDTMergingF, .registration = TRUE)
export(cdtInterp)
export(cdtMerging)
export(cdtMergingLOOCV)
export(distance.Matrix)
import(ncdf4, sp)
importFrom(stats, binomial, gaussian, glm, predict, residuals, var)
importFrom(utils, read.table, write.table)
importFrom(methods, as, formalArgs)
importFrom(doParallel, registerDoParallel)
importFrom(foreach, "%do%")
importFrom(foreach, "%dopar%")
importFrom(foreach, foreach)
importFrom(parallel, clusterExport)
importFrom(parallel, detectCores)
importFrom(parallel, makeCluster)
importFrom(parallel, stopCluster)
